<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <h1>TYPO3 Monitor</h1>

    <f:if condition="{showPagination} && ({settings.pagination.position} === '1' || {settings.pagination.position} === '3')">
        <f:render partial="Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
    </f:if>
    <f:for each="{pagination.paginator.paginatedItems}" as="clientgroup" iteration="iterator">
        <div style="border: 2px solid #000;">
            <div>
                {clientgroup.title}
            </div>
            <f:for each="{clientgroup.clients}" as="groupclient">
                <div>
                    <f:render partial="Client" arguments="{client:groupclient}" />
                </div>
            </f:for>
        </div>
    </f:for>
    <f:if condition="{showPagination} && ({settings.pagination.position} === '2' || {settings.pagination.position} === '3')">
        <f:render partial="Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
    </f:if>

</f:section>
</html>
