<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:monitor="http://typo3.org/ns/LEPAFF/SiteMonitor/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:variable name="jsonUrl" value="{client.url}/?type={client.typeParam}" />
<f:comment>@todo get url from controller or settings</f:comment>
<f:variable name="generateUrl" value="https://typo311.ddev.site/?type=92877376" />
<div style="margin-bottom: 20px;" class="siteContainer">
    <table class="tx_sitemonitor" tableborder="1" width="100%">
        <tr>
            <th>Title</th>
            <th>Status</th>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <td style="border: 1px solid #000;vertical-align: top; width: 25%;">
                <strong>
                    <f:if condition="{f:count(subject:client.site)} > 0">
                        <f:then>
                            <f:link.action action="show" arguments="{client : client}">{client.title}</f:link.action>
                        </f:then>
                        <f:else>
                            {client.title}
                        </f:else>
                    </f:if>
                </strong>
                <br/>
                <p>
                    <f:link.action action="edit" arguments="{client : client}">Edit client</f:link.action>
                </p>
                <p>
                    <f:link.action action="deleteConfirmation" arguments="{client : client}">Delete client</f:link.action>
                </p>
            </td>
            <td style="border: 1px solid #000; width: 50%;">
                <div class="clientStatus" id="clientStatus{client.uid}">
                    <f:if condition="{f:count(subject:client.site)} > 0">
                        <f:then>
                            <f:render section="siteStatus" arguments="{_all}" />
                        </f:then>
                        <f:else>
                            <a href="{jsonUrl}" target="_blank">{jsonUrl}</a>
                        </f:else>
                    </f:if>
                </div>
            </td>
            <td style="border: 1px solid #000; width: 25%;text-align: center;">
                <a href="#" class="monitorUpdateButton" data-client="{client.uid}" data-url="{generateUrl}" data-target="clientStatus{client.uid}">Update ajax</a><br/>
                <f:if condition="{f:count(subject:client.site)} > 0">
                    <f:then>
                        <f:link.action action="generate" arguments="{client : client}">Update site data</f:link.action>
                    </f:then>
                    <f:else>
                        <f:link.action action="generate" arguments="{client : client}">Import site data</f:link.action>
                    </f:else>
                </f:if>
                <br/>
                <a href="{jsonUrl}" target="_blank">View JSON</a>
            </td>
        </tr>
    </table>
</div>

<f:section name="siteStatus">
    <f:link.action action="show" arguments="{client : client}">
        <table width="100%">
            <tr>
                <f:variable name="ping" value="{monitor:ping(url:client.url)}" />
                <f:if condition="{ping}">
                    <f:then>
                        <td  class="text-ap-green"style="border-bottom: 1px solid #000;">Ping:</td>
                        <td  class="text-ap-green"style="border-bottom: 1px solid #000;">{ping} ms</td>
                    </f:then>
                    <f:else>
                        <td class="text-ap-red" style="border-bottom: 1px solid #000;" colspan="2">NOT REACHABLE</td>
                    </f:else>
                </f:if>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #000;">Date:</td>
                <td style="border-bottom: 1px solid #000;"><f:format.date format="d.m.Y H:i">{client.site.0.tstamp}</f:format.date></td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #000;">Title:</td>
                <td style="border-bottom: 1px solid #000;">{client.site.0.title}</td>
            </tr>
            <f:if condition="{client.site.0.patchAvailable}">
                <f:then>
                    <tr>
                        <td class="text-ap-orange" style="border-bottom: 1px solid #000;"><strong>TYPO3 Version</strong></td>
                        <td class="text-ap-orange" style="border-bottom: 1px solid #000;">{client.site.0.typo3Version}</td>
                    </tr>
                </f:then>
                <f:else>
                    <tr>
                        <td class="text-ap-green" style="border-bottom: 1px solid #000;"><strong>TYPO3 Version</strong></td>
                        <td class="text-ap-green" style="border-bottom: 1px solid #000;">{client.site.0.typo3Version}</td>
                    </tr>
                </f:else>
            </f:if>
            <f:if condition="{client.site.0.patchAvailable}">
                <tr>
                    <td class="text-ap-orange" style="border-bottom: 1px solid #000;">Patch:</td>
                    <td class="text-ap-orange" style="border-bottom: 1px solid #000;">{client.site.0.patchAvailable}</td>
                </tr>
            </f:if>
            <tr>
                <td>PHP:</td>
                <td>{client.site.0.phpVersion}</td>
            </tr>
        </table>
    </f:link.action>
</f:section>
</html>
