<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:form action="list" class="row mb-4" arguments="{currentPage: 0}">
    <div class="col w-full md:w-8/12 pb-1.5">
       <div class="ap-search">
           <f:form.textfield type="search" name="searchDemand[clientName]" value="{overwriteDemand.clientName}" placeholder="Client name" />
           <i class="fa fa-magnifying-glass"></i>
       </div>
    </div>
    <div class="col w-6/12 md:w-4/12 pb-1.5">
        <div class="ap-select relative">
            <f:form.select value="{overwriteDemand.extensions}" name="searchDemand[extensions]" options="{extensions}" optionValueField="uid" optionLabelField="title" prependOptionLabel="All extensions" />
        </div>
    </div>
    <div class="col w-6/12 md:w-4/12 pb-1.5">
        <div class="ap-select relative">
            <f:form.select value="{overwriteDemand.clientgroup}" name="searchDemand[clientgroup]" options="{clientgroups}" optionValueField="uid" optionLabelField="title" prependOptionLabel="All client groups" />
        </div>
    </div>
    <div class="col w-6/12 md:w-4/12 pb-1.5">
        <div class="ap-select relative">
            <f:form.select value="{overwriteDemand.typo3Versions}" name="searchDemand[typo3Versions]" options="{typo3Versions}" optionValueField="uid" optionLabelField="version" prependOptionLabel="All TYPO3 versions" />
        </div>
    </div>
    <div class="col w-6/12 md:w-4/12 pb-1.5">
        <f:form.submit value="Filter" class="ap-btn"/>
    </div>
</f:form>
</html>
