<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:form.validationResults for="appointmentBookings">
    <f:if condition="{validationResults.flattenedErrors}">
        <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
            <f:for each="{errors}" as="error">
                <div class="bg-red-100 p-2 md:p-2.5 mb-2">
                    <p class="error">
                        {error}
                    </p>
                </div>
            </f:for>
        </f:for>
    </f:if>
</f:form.validationResults>
</html>
