
<f:if condition=" {pagination.pages -> f:count()} > 1" >
    <div class="text-center mt-6">
        <f:if condition="{pagination.currentPage} >= 1">
            <f:then>
                <f:variable name="prevPage" value="<f:cObject typoscriptObjectPath='lib.math' data='{pagination.currentPage}-1'/>"/>

                <a href="{f:uri.action(action: 'list', arguments: {currentPage: '{prevPage}', overwriteDemand: overwriteDemand})}" class="js-pagination button button-pagination arrow"  aria-label="Prev Page" type="button">
                    <i class="fa fa-chevron-left"></i>
                </a>
            </f:then>
            <f:else>
                <span class="button button-pagination arrow disabled"> <i class="fa fa-chevron-left"></i></span>
            </f:else>

        </f:if>

        <f:if condition="{pagination.hasLessPages}">
            <span class="button button-pagination disabled dots">...</span>
        </f:if>

        <f:for each="{pagination.pages}" as="item" key="key" iteration="iterator">
            <f:if condition="{pagination.currentPage} == {key}">
                <f:then>
                    <span class="button button-pagination active disabled">{item}</span>
                </f:then>
                <f:else>
                    <a href="{f:uri.action(action: 'list', arguments: {currentPage: key, overwriteDemand: overwriteDemand})}" class="js-pagination button button-pagination" type="button">
                        {item}
                    </a>
                </f:else>
            </f:if>
        </f:for>
        <f:if condition="{pagination.hasMorePages}">
            <span class="button button-pagination disabled dots">...</span>
        </f:if>
        <f:if condition="{pagination.currentPage} < {pagination.maxPages}">
            <f:then>
                <f:variable name="nextPage" value="<f:cObject typoscriptObjectPath='lib.math' data='{pagination.currentPage}+1'/>"/>
                <a href="{f:uri.action(action: 'list', pageType:settings.ajax.mediathek, arguments: {currentPage: '{nextPage}', overwriteDemand: overwriteDemand})}" class="js-pagination button button-pagination arrow"  aria-label="Next Page" type="button">
                    <i class="fa fa-chevron-right"></i>
                </a>
            </f:then>
            <f:else>
                <span class="button button-pagination arrow disabled"> <i class="fa fa-chevron-right"></i></span>
            </f:else>
        </f:if>
    </div>
</f:if>