<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:form action="search" class="row mb-4">
    <div class="col md:w-8/12 pb-1.5">
       <div class="ap-search">
           <f:form.textfield type="search" name="searchDemand[clientName]" value="{arguments.searchDemand.clientName}" placeholder="Client name" />
           <i class="fa fa-magnifying-glass"></i>
       </div>
    </div>
    <div class="col md:w-4/12">
        <div class="ap-select relative">
            <f:form.select value="{arguments.searchDemand.extensions}" name="searchDemand[extensions]" options="{extensions}" optionValueField="uid" optionLabelField="title" prependOptionLabel="All extensions" />
        </div>
    </div>
    <div class="col md:w-4/12">
        <div class="ap-select relative">
            <f:form.select value="{arguments.searchDemand.clientgroups}" name="searchDemand[clientgroups]" options="{clientgroups}" optionValueField="uid" optionLabelField="title" prependOptionLabel="All client groups" />
        </div>
    </div>
    <div class="col md:w-4/12">
        <div class="ap-select relative">
            <f:form.select value="{arguments.searchDemand.typo3Versions}" name="searchDemand[typo3Versions]" options="{typo3Versions}" optionValueField="uid" optionLabelField="version" prependOptionLabel="All TYPO3 versions" />
        </div>
    </div>
    <div class="col md:w-4/12">
        <f:form.submit value="Filter" class="ap-btn"/>
    </div>
</f:form>
</html>
