<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <h1>{f:translate(key: 'tx_sitemonitor_domain_model_client.create')}</h1>
    <div class="ap-section ap-section--theme-blue rounded p-3">
        <f:flashMessages />

        <f:render partial="FormErrors" />

        <div class="w-full md:w-8/12 m-auto">
            <f:form action="create" name="newClient" object="{newClient}" class="my-4">
                <f:render partial="Client/FormFields" />
                <div class="text-center">
                    <button type="submit" class="ap-btn">
                        <i class="fa fa-plus pr-1"></i> {f:translate(key: 'tx_sitemonitor_domain_model_client.create')}
                    </button>
                </div>
            </f:form>
        </div>
    </div>
</f:section>
</html>
