<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <h1>New Client</h1>
    <div class="ap-section ap-section--theme-blue rounded p-3">
        <f:flashMessages />

        <f:render partial="FormErrors" />

        <div class="w-full md:w-8/12 m-auto">
            <f:form action="create" name="newClient" object="{newClient}" class="my-4">
                <f:render partial="Client/FormFields" />
            </f:form>
        </div>
    </div>
</f:section>
</html>
