<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="title">
	<f:translate key="tx_sitemonitor_domain_model_client.title" />
</label><br />
	<f:form.textfield property="title" id="title" /><br />
<label for="username">
	<f:translate key="tx_sitemonitor_domain_model_client.username" />
</label><br />
	<f:form.textfield property="username" id="username" /><br />
<label for="password">
	<f:translate key="tx_sitemonitor_domain_model_client.password" />
</label><br />
	<f:form.textfield property="password" id="password" /><br />
<label for="secret">
	<f:translate key="tx_sitemonitor_domain_model_client.secret" />
</label><br />
	<f:form.textfield property="secret" id="secret" /><br />
<label for="url">
	<f:translate key="tx_sitemonitor_domain_model_client.url" />
</label><br />
	<f:form.textfield property="url" id="url" /><br />
</html>