<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="form-row">
    <label for="title">
        <f:translate key="tx_sitemonitor_domain_model_client.title" />
    </label><br />
        <f:form.textfield property="title" id="title" /><br />
</div>
<div class="form-row">
    <label for="username">
        <f:translate key="tx_sitemonitor_domain_model_client.username" />
    </label><br />
        <f:form.textfield property="username" id="username" /><br />
</div>
<div class="form-row">
    <label for="password">
        <f:translate key="tx_sitemonitor_domain_model_client.password" />
    </label><br />
        <f:form.textfield property="password" id="password" /><br />
</div>
<div class="form-row">
    <label for="secret">
        <f:translate key="tx_sitemonitor_domain_model_client.secret" />
    </label><br />
        <f:form.textfield property="secret" id="secret" /><br />
</div>
<div class="form-row">
    <label for="typeParam">
        <f:translate key="tx_sitemonitor_domain_model_client.type_param" />
    </label><br />
        <f:form.textfield property="typeParam" id="typeParam" /><br />
</div>
<div class="form-row">
    <label for="url">
        <f:translate key="tx_sitemonitor_domain_model_client.url" />
    </label><br />
        <f:form.textfield property="url" id="url" /><br />
</div>
<div class="form-row">
    <label for="htaccess">
        <f:translate key="tx_sitemonitor_domain_model_client.htaccess" />
    </label><br />
        <f:form.checkbox property="htaccess" value="1" id="htaccess" /><br />
</div>
<div class="form-row">
    <label for="htUser">
        <f:translate key="tx_sitemonitor_domain_model_client.htUser" />
    </label><br />
        <f:form.textfield property="htUser" id="htUser" /><br />
</div>
<div class="form-row">
    <label for="htPass">
        <f:translate key="tx_sitemonitor_domain_model_client.ht_pass" />
    </label><br />
        <f:form.textfield property="htPass" id="htPass" /><br />
</div>
<div class="form-row">
    <label for="urlFe">
        <f:translate key="tx_sitemonitor_domain_model_client.url_fe" />
    </label><br />
        <f:form.textfield property="urlFe" id="urlFe" /><br />
</div>
<div class="form-row">
    <label for="urlBe">
        <f:translate key="tx_sitemonitor_domain_model_client.url_be" />
    </label><br />
        <f:form.textfield property="urlBe" id="urlBe" /><br />
</div>
<div class="form-row">
    <label for="urlGitlab">
        <f:translate key="tx_sitemonitor_domain_model_client.url_gitlab" />
    </label><br />
        <f:form.textfield property="urlGitlab" id="urlGitlab" /><br />
</div>
<div class="form-row">
    <label for="slug">
        <f:translate key="tx_sitemonitor_domain_model_client.slug" />
    </label><br />
        <f:form.textfield property="slug" id="slug" /><br />
</div>
</html>


<f:comment>

### DomainObjects ###
<label for="owner">
    <f:translate key="tx_sitemonitor_domain_model_client.owner" />
</label><br />
<f:form.textfield property="owner" id="owner" /><br />

<label for="developer">
    <f:translate key="tx_sitemonitor_domain_model_client.developer" />
</label><br />
<f:form.textfield property="developer" id="developer" /><br />
### DomainObjects ###

</f:comment>
