<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-site-monitor">
	<tr>
		<td><f:translate key="tx_sitemonitor_domain_model_client.title" /></td>
		<td>{client.title}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_sitemonitor_domain_model_client.username" /></td>
		<td>{client.username}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_sitemonitor_domain_model_client.password" /></td>
		<td>{client.password}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_sitemonitor_domain_model_client.secret" /></td>
		<td>{client.secret}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_sitemonitor_domain_model_client.url" /></td>
		<td>{client.url}</td>
	</tr>
</table>
</html>
